@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Parisienne&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&display=swap');

/* common pages */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    background-color: rgba(247, 233, 153, 0.923);
}

Header {
    background-color: rgb(240, 131, 41);
}

header a {
    color: white;
}

header a:hover {
    color: black;
}

.hTitles {
    font-family: 'Libre Basjerville', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flexContainerVertical {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

#mainNav li, a {
    list-style: none;
    text-decoration: none;
    margin: 15px;
}

.centerObject {
    text-align: center;
}

ul {
    padding: 0;
}

Nav {
    width: 70%;
}


.tooltip {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 9px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    position:sticky
    z-index: 100;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

footer {
    background-color: rgb(240, 131, 41);
    color: white;
    font-size: 0.8em;
    margin-top: 10px;
    width: 98vw;
    height: 2.5em;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* index page */
#welcome {
    height: 600px;
    background-image: url(/img/bateau.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    text-shadow: 4px 4px gray;
}




/* royal Family page */
.quote {
    font-size: 36px;
    margin-bottom: 0;
}



#Aeetes {
    font-family: 'Rock salt', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}

#Madeas {
    font-family: 'Sacramento', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Idyia {
    font-family: 'Parisienne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* contact page*/
#contact {
    height: 650px;
    background-image: url(/img/paperUsed.jpeg);
    background-size: cover;
    text-align: center;
    padding: 15px;
}

input, textarea {
    width: 50%;
    margin: 20px 0px;
}

button {
    background-color: azure;
    color: black;
    border: 1px solid
}


/* Assets page */
table {
    border: 1px solid;
    background-color: dimgrey;
}

th {
    padding: 10px 50px;

}

.trWhite {
    background-color: white;
}

.trOrange {
    background-color: rgb(240, 131, 41);
}

td {
    border-top: 1px solid;

}

#tableJavelin {
    height: 500px;
    background-image: url(/img/javelot2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#tableRoyalAssets {
    margin-bottom: 50px;
}

#tableNE {
    margin-top: 50px;
}